<html>
    <head>
        <title>
            JB Toy Balloons
        </title>
        <script src="jquery.js"></script>
        <link rel=stylesheet href="style.css">
        <script>
            $(document).ready(()=>{
              
            })
        </script>
    </head>

    <body>
        <div class="contain-all">
            <div class="main">
                <div id="registration">
                    <form action="register">
                        <input class = "reg-form" type="text" name="fn" placeholder="First Name">
                        <input class = "reg-form" type="text" name="ln" placeholder="Last Name"><br>
                        <input class = "reg-form" type="text" name="un" placeholder="Username"><br>
                        <input class = "reg-form" type="password" name="pw" placeholder="Password"><br>
                        <input class = "reg-form" type="password" name="pw2" placeholder="Confirm Password">
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
        
        <footer id="copyright">
            <p>&copy;2019 by JBroqueza Toy Balloons Inc.</p>
        </footer>
    </body>
</html>